@use './base.scss';

.sukhum-b60 {
  font-size: 60px;
  font-weight: 700;
}

.sukhum-b40 {
  font-size: 40px;
  font-weight: 700;
}

.sukhum-b20 {
  font-size: 20px !important;
  font-weight: 700 !important;
}

.sukhum-b24 {
  font-size: 24px !important;
  font-weight: 700 !important;
}

.sukhum-b30 {
  font-size: 30px !important;
  font-weight: 700 !important;
}

.sukhum-b32 {
  font-size: 32px !important;
  font-weight: 700 !important;
}

.sukhum-b16 {
  font-size: 16px !important;
  font-weight: 700 !important;
}

.sukhum-b14 {
  font-size: 14px;
  font-weight: 700;
}

.sukhum-sb14 {
  font-size: 14px;
  font-weight: 600;
}

.sukhum-m14 {
  font-size: 14px;
  font-weight: 500;
}

.sukhum-b13 {
  font-size: 13px;
  font-weight: 700;
}

.sukhum-m13 {
  font-size: 13px;
  font-weight: 500;
}

.sukhum-m12 {
  font-size: 12px;
  font-weight: 500;
}

.sukhum-sb12 {
  font-size: 12px;
  font-weight: 600;
}
